.about__content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 80px 0 100px;
}

.about__img {
  margin-right: 120px;
}

.about__info {
  display: flex;
  flex-direction: column;
  max-width: 430px;
  margin: 14px 0;
}

.about__title {
  max-width: 370px;
  font-size: 2.1875rem;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #545454;
  margin-bottom: 25px;
}

.about__text {
  font-family: 'Arial', sans-serif;
  font-size: 15px;
  line-height: 160%;
  color: #4C4C4C;
  margin-bottom: 25px;
}

.about__text:last-child {
  margin-bottom: 0;
}

  
/* Media queries */
@media (min-width: 768px) and (max-width: 1199px) {
  .about__content {
    display: flex;
    flex-direction: column-reverse;
    padding: 80px 135px 100px;
  }

  .about__info {
    margin: 0 0 80px;
  }

  .about__img {
    margin-right: 0;
  }
}

/* Smartphones  */
@media (min-width: 320px) and (max-width: 480px) {
  .about__content {
    display: flex;
    flex-direction: column-reverse;
    padding: 42px 0;
  }

  .about__info {
    align-items: center;
    margin: 0 0 42px;
  }

  .about__title {
    text-align: center;
    font-size: 1.5625rem;
  }

  .about__text {
    font-size: 15px;
    margin-bottom: 25px;
    text-align: justify;
  }

  .about__img {
    padding: 0 20px;
    margin-right: 0;
  }
}