.not-only {
  position: relative;
  background: url(../assets/images/not_only/noise_transparent.png), radial-gradient(100% 215.42% at 0% 0%, #5b483a 0%, #262425 100%), #211f20;
}

.not-only__content {
  display: flex;
  justify-content: space-between;
  padding-top: 180px;
}

.not-only__info {
  display: flex;
  flex-direction: column;
  margin-right: 42px;
  margin-top: 163px;
  width: 28.75rem;
}

.not-only__title {
  font-size: 2.75rem;
  line-height: 130%;
  margin-bottom: 42px;
  color: #fff;
}

.not-only__text {
  font-family: 'Arial', sans-serif;
  font-size: 0.9375rem;
  line-height: 160%;
  color: #CDCDCD;
  margin-bottom: 42px;
}


.not-only__img {
  width: 43.625rem;
}
  
/* Media queries */
@media (min-width: 768px) and (max-width: 1199px) {
  .not-only__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 150px 55px 0;
    margin: 0 70px;
  }

  .not-only__info {
    margin: 0 0 100px;
    width: 28.75rem;
  }

  .not-only__btn {
    margin: 0 auto;
  }

  .not-only__img {
    width: 35.5625rem;
    padding-left: 15px;
  }
}

/* Smartphones  */
@media (min-width: 320px) and (max-width: 480px) {
  .not-only__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 150px 0 0;
    margin: 0 auto;
  }

  .not-only__info {
    margin: 0 0 105px;
    width: 18.75rem;
    text-align: center;
  }
  .not-only__title {
    font-size: 1.5625rem;
  }

  .not-only__img {
    width: 18.75rem;
    padding-left: 40px;
  }
}